<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header th:fragment="header">

    <div class="header-left">
        <!-- Logo / App Title links to home -->
        <a th:href="@{/}" class="logo-link">
            <h1 th:text="#{app.title}">Hotel Booking System</h1>
        </a>
    </div>

    <div class="header-right">
        <div class="user-info">
            <!-- If authenticated -->
            <div sec:authorize="isAuthenticated()">
                <span>
                    <span th:text="#{header.greeting}">Hello</span>,
                    <strong sec:authentication="name"></strong>!
                </span>

                <a sec:authorize="hasAnyRole('GUEST')"  th:href="@{/booking/my-bookings}" class="btn-header" th:text="#{header.myBookings}">My bookings</a>

                <a sec:authorize="hasRole('MANAGER')"
                   th:href="@{/room/new}"
                   class="btn-header">
                    Add room
                </a>

                <a sec:authorize="hasRole('MANAGER')"
                   th:href="@{/manager/stats/revenue}"
                   class="btn-header">
                    Stats
                </a>

                <a sec:authorize="hasAnyRole('MANAGER', 'RECEPTIONIST')"
                   th:href="@{/booking/all}"
                   class="btn-header">
                    All Bookings
                </a>

                <a th:href="@{/logout}" class="btn-header" th:text="#{header.logout}">Logout</a>


            </div>

            <!-- If not authenticated -->
            <div sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}" class="btn-header" th:text="#{header.login}">Login</a>
                <a th:href="@{/register}" class="btn-header" th:text="#{header.register}">Register</a>
            </div>
        </div>
    </div>

</header>



</html>
